@import url('https://fonts.googleapis.com/css?family=Lato');

body{
 background-color: #313d3b;
 font-family: 'Lato', sans-serif; 
}

.nameForm {
  text-align: center;
  padding: 250px;
}

input[type=text] {
    border: none;
    width: 75%;
    border-bottom: 2px solid #f7b733;
    font-size: 25px;
    text-align: center;
  }

  input[type=submit], input[type=reset]{
    border-radius: 5px;
    background-color: #f7b733;
    border: none;
    padding: 15px;
    cursor: pointer;
  }

  input[type=radio]{
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }

  input[type=radio]:checked ~ .check {
    border: 5px solid #f7b733;
  }
  
  h1{
    text-align: center;
    color: rgb(236, 235, 235);
  }

  .gameTable{
    margin: auto;
    padding: 35px;
    border: 1px solid black;
    border-radius: 15px;
    color: rgb(236, 235, 235);
  }

  .gameTable th{
    padding: 25px;
    color: rgb(236, 235, 235);
  }

  .gameTable td{
    padding: 45px;
    color: rgb(236, 235, 235);
  }

  .stats{
   display: inline-block;
    margin: auto;
    border: 1px solid black;
    padding: 15px;
    color: rgb(236, 235, 235);
  }

  .stats td, th{
    text-align: center;
    padding: 10px;
    color: rgb(236, 235, 235);
  }

 .score{
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: sticky;
 }

 .scoreBox{
   width: 25%;
   background: #f7b733;
   border: solid #f7b733;
   border-radius: 15px;
 }

 .Cscore{
   float:right;
 }
 
.winOverlay{
  position: fixed; 
  display: none;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 173, 31, 0.5); 
  z-index: 2; 
  cursor: pointer; 
}

.tieOverlay{
  position: fixed; 
  display: none;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(199, 209, 55, 0.5); 
  z-index: 2; 
  cursor: pointer; 
}

.loseOverlay{
  position: fixed; 
  display: none;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(216, 86, 86, 0.5); 
  z-index: 2; 
  cursor: pointer; 
}

.loseText{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.winText{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.tieText{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
  